/*todo:
1.toggle sprite images
    Since there aren't enough gifs for each character animation each attack style will be pieced together using a sprite stylesheet and the steps() funciton in css
2.print attack details in html
3.prevent character respawn after KO
4.add reset game feature
5.style progress bars
6.fade attack buttons when disabled
6.center buttons
4.add media query for attack animation so that when screen is a certain size characters don't pass each other

*/
@import url("https://fonts.googleapis.com/css?family=VT323");
body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container.stage {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-image: url("https://theultralinx.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_700/MTI5MDI0MjczNjc4NTA1MjM0/do2wa2j.webp");
  /*Please tag artist*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40%;
  width: 80%;
  border: 2em solid black;
  overflow-y: hidden;
}

.container.health-gauge {
  margin-top: 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 40%;
  width: 90%;
}

.container.health-gauge progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  padding: 0;
}

.container.health-gauge progress::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset;
          box-shadow: inset;
}

.container.health-gauge progress::-webkit-progress-value {
  background-color: lightgreen;
  border: none;
}

.container.health-gauge .health-gauge.hero {
  float: left;
  width: 45%;
}

.container.health-gauge .health-gauge.enemy[value] {
  float: right;
  width: 45%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.container.fighters {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 9em 0 1em 0;
  width: 90%;
  height: 20%;
}

.container.console {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 40%;
  border: 3px dashed white;
}

.container.console h1 {
  font: 2em "VT323", monospace;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

.container.console #logger {
  margin: 1em auto 1em auto;
  padding: 2em;
  width: 50%;
  color: white;
  font: 20px "VT323", monospace;
  letter-spacing: 2px;
}

.container.console .container.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em auto;
  width: 100%;
}

.container.console .container.controls .herobtn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2% 2%;
  text-align: center;
  width: auto;
  height: 50px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  font: 2em "VT323", monospace;
  border: 3px dotted white;
}

.container.console .container.controls .herobtn:hover {
  cursor: pointer;
  -webkit-animation: blink .5s infinite alternate;
          animation: blink .5s infinite alternate;
}

.hero {
  float: left;
  width: 30%;
  min-width: 140px;
  max-width: 200px;
}

.hero-attacking {
  float: left;
  width: 200px;
  border: 1px solid green;
  -webkit-animation: attack .5s;
  animation: attack .5s;
}

.enemy-attacking {
  float: right;
  height: 260px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-animation: enemy-attack 1s;
  animation: enemy-attack 1s;
}

.enemy-sprite {
  float: right;
  height: 30%;
  max-height: 240px;
}

.fainted {
  -webkit-animation: drop 1s linear;
          animation: drop 1s linear;
}

.disappear {
  display: none;
}

.fade-moveset {
  opacity: 0.5;
  cursor: not-allowed;
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  100% {
    -webkit-transform: translatey(2000px);
            transform: translatey(2000px);
  }
}

@keyframes drop {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  100% {
    -webkit-transform: translatey(2000px);
            transform: translatey(2000px);
  }
}

@-webkit-keyframes attack {
  0% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  50% {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
  70% {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
  80% {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes enemy-attack {
  0% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  70% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes attack {
  0% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  50% {
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
  }
  70% {
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
  }
  80% {
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes enemy-attack {
  0% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  50% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
  70% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
  80% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes rotate {
  from {
    border: 3px dotted white;
  }
  to {
    border: 3px dashed white;
  }
}

@keyframes rotate {
  from {
    border: 3px dotted white;
  }
  to {
    border: 3px dashed white;
  }
}

@-webkit-keyframes blink {
  from {
    color: white;
  }
  to {
    color: black;
  }
}

@keyframes blink {
  from {
    color: white;
  }
  to {
    color: black;
  }
}
/*# sourceMappingURL=style.css.map */