/*todo:
1.toggle sprite images
    Since there aren't enough gifs for each character animation each attack style will be pieced together using a sprite stylesheet and the steps() funciton in css
2.print attack details in html
3.prevent character respawn after KO
4.add reset game feature
5.style progress bars
6.fade attack buttons when disabled
6.center buttons
4.add media query for attack animation so that when screen is a certain size characters don't pass each other

*/

@import url('https://fonts.googleapis.com/css?family=VT323');

@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

$button-font: 2em 'VT323',
monospace;


body {
    margin: 0;
    padding: 0;
    background-color: black;
    @include flex;
}

.container.stage {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    background-image: url("https://theultralinx.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_700/MTI5MDI0MjczNjc4NTA1MjM0/do2wa2j.webp");
    /*Please tag artist*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40%;
    width: 80%;
    border: 1px solid red;
    overflow-y:hidden;
}

.container.health-gauge {
    margin-top: 1em;
    align-self: center;
    border: 1px solid purple;
    height: 40%;
    width: 90%;
    progress::-webkit-progress-bar {
        /* Reset the default appearance */
        -webkit-appearance: none;
        appearance: none;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0;
        padding: 0;
    }
    progress::-webkit-progress-value {
        background-color: green;
    }
    .health-gauge.hero[value] {
        float: left;
        width: 45%;

    }
    .health-gauge.enemy[value] {
        float: right;
        width: 45%;
        transform: scaleX(-1);
    }

}

.container.fighters {
    align-self: center;
    margin: 9em 0 1em 0;
    border: 1px solid yellow;
    width: 90%;
    height: 20%;
}

.container.console {
    display: block;
    margin: 0 auto;
    width: 80%;
    height:30%;
    border: 3px dashed white;
    h1 {
        font: $button-font;
        color: white;
        text-transform: uppercase;
        text-align: center;
    }
    #logger {
        margin: 2em auto 2em auto;
        padding: 3em;
        width: 50%;
        color: white;
        font: $button-font;
    
    }
}

.container.controls {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 3px dashed white;
    .herobtn {
        margin: 2% 2%;
        text-align: center;
        width: auto;
        height: 50px;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        font: $button-font;
        border: 3px dotted white;
        &:hover {
            cursor: pointer;
            animation: blink .5s infinite alternate;
    
        }
    }
}

.hero {
    float: left;
    width:30%;
    min-width: 140px;
    max-width: 200px;
}

.hero-attacking {
    float: left;
    width: 200px;
    border: 1px solid green;
    -webkit-animation: attack .5s;
    animation: attack .5s;
}

.enemy-attacking{
    float: right;
    height: 260px;
    transform: scaleX(-1);
    -webkit-animation: enemy-attack 1s;
    animation: enemy-attack 1s;
}

.enemy-sprite {
    float: right;
    height:30%;
    max-height: 240px;
}

.fainted{
    animation: drop 1s linear;
}

.disappear{
    display:none;
}

.fade-moveset{
    opacity: 0.5;
    cursor:not-allowed;
}

@keyframes drop {
    0%{transform:translatey(0px);}
    100%{transform:translatey(2000px);}
  }

@-webkit-keyframes attack {
    0% {
        transform: translateX(-30%);
    }

    50% {
        transform: translateX(300%);
    }
    70%{transform: translateX(300%);}
    80%{transform: translateX(300%);}
    100% {
        transform: translateX(0px);
    }
}

@-webkit-keyframes enemy-attack {
    0% {
        transform: translateX(-90%);
    }

    50% {
        transform: translateX(-100%);
    }
    70%{transform: translateX(-100%);}
    80%{transform: translateX(-100%);}
    100% {
        transform: translateX(0px);
    }
}

@keyframes attack {
    0% {
        transform: translateX(-30%);
    }

    50% {
        transform: translateX(90%);
    }
    70%{transform: translateX(90%);}
    80%{transform: translateX(90%);}
    100% {
        transform: translateX(0px);
    }
}

@keyframes enemy-attack {
    0% {
        transform: translateX(-30%);
    }

    50% {
        transform: translateX(-90%);
    }
    70%{transform: translateX(-90%);}
    80%{transform: translateX(-90%);}
    100% {
        transform: translateX(0px);
    }
}

@keyframes rotate {
    from {
        border: 3px dotted white;
    }
    to {
        border: 3px dashed white;
    }
}

@keyframes blink {
    from {
        color: white;
    }
    to {
        color: black;
    }

}
